.feature-input {
    width: 100%;
    text-align: center;
    padding: 40px 40px 50px;
    background-color: #218be2;
  }
  
  .feature-input p {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  @media (max-width: 720px) {
    .feature-input {
      padding: 30px 20px;
    }
  }