.dummy-cantact {
    padding: 5px;
    line-height: 1.6rem;
    font-size: 0.7rem;
  }
  
  .dummy-cantact ul li a {
    color: #556475;
  }
  
  .dummy-cantact .social-links {
    display: flex;
    gap: 10px;
  }
  
  @media (max-width: 720px) {
    .dummy-cantact {
      .dummy-cantact {
        line-height: 1.1rem;
        font-size: 0.6rem;
      }
    }
  }