.navbar-list-root {
    padding-left: 0 50px;
    display: flex;
    gap: 30px;
    font-size: .95rem;
    font-weight: bold;
    
  }
  
  .navbar-list-root li a {
    color: #fff;
  }
  
  @media (max-width: 720px) {
    .navbar-list-root {
      background-color: rgb(95, 108, 128);
      padding: 10px 50px;
      justify-content: space-between;
      font-size: .85rem;
      font-weight: 500;
      position: absolute;
      top: 70px;
      right: 0;
      left: 0;
      width: 100vw;
    }
  }