.how-it-work-root {
    margin-top: 20px;
    width: 48%;
    text-align: left;
  }
  
  .how-it-work-root h3 {
    color: #218be2;
    padding: 0 50px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .how-it-work-root p {
    width: 65%;
    margin-right: auto;
    line-height: 1.6rem;
    margin-bottom: 50px;
  }
  
  @media (max-width: 720px) {
    .how-it-work-root h3 {
      padding: 0 10px;
      font-size: 1rem;
    }
    
    .how-it-work-root p {
      font-size: .90rem;
      line-height: 1.3rem;
      margin-bottom: 30px;
    }
  }