.settings-img {
    width: 45%;
  }
  
  .settings-img img {
    width: 28%;
    margin-left: 65%;
  }
  
  @media (max-width: 720px) {
    .settings-img img {
      width: 25%;
      margin-left: 40%;
    }
  }