.hero-input {
    margin-top: 30px;
    padding: 5px;
  }
  
  .hero-input input,
  .hero-input button {
    border: none;
    font-size: .95rem;
  }
  
  .hero-input input {
    width: 41%;
    padding: 17px 40px;
  }
  
  .hero-input button {
    background-color: #24a45e;
    box-shadow: 0 1px 3px #1313ff;
    padding: 17px 50px;
    color: #fff;
  }
  
  @media (max-width: 720px) {
    .hero-input {
      margin-top: 15px;
    }
    
    .hero-input input,
    .hero-input button {
      font-size: .85rem;
    }
    
    .hero-input input {
      width: 60%;
      padding: 10px 20px;
    }
    
    .hero-input button {
      padding: 10px 30px;
    }
  }