.footer-root {
    padding: 30px 50px 70px;
    border-top: 1px solid #c0bebe;
    font-size: .7rem;
    display: flex;
    justify-content: space-between;
    color: #556475;
  }
  
  .footer-root ul {
    display: flex;
    gap: 30px;
  }
  
  .footer-root ul li a {
    color: #556475;
  }
  
  @media (max-width: 720px) {
    .footer-root {
      padding: 20px 20px 30px;
      font-size: .6rem;
    }
    
    .footer-root ul {
      display: flex;
      gap: 10px;
    }
  }