.navbar-list-arrow {
    overflow: visible;
  }
  
  .navbar-list-arrow::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-left: 3px;
    transform: rotate(45deg) translateY(-70%);
  }